@model UpdateTestimonialViewModel


<form method="post">
    <input type="hidden" asp-for="TestimonialID" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Image</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Personeli Güncelle</button>
</form>